---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import Timer from "../components/Timer.astro";
import CardHorario from "../components/CardHorario.astro";
import Temporizer from "../components/Temporizer.astro";
import Gallery from "../components/Gallery.astro";
---

<style></style>
<Layout title="Boda">
  <main class="relative flex justify-center text-white h-[100vh]">
    <img
      src="/main_photo.webp"
      alt="Imagen"
      class="w-full h-full object-cover"
      height="912"
      width="1368"
    />

    <h1 class="py-10 absolute text-4xl md:text-6xl uppercase">Nos casamos</h1>

    <h2 class="absolute py-56 text-3xl">Alice & David</h2>
  </main>

  <div class="py-5 flex flex-col items-center justify-center gap-3 text-center">
    <div class="temporizer">
      <h2 class="text-4xl">Estás invitado</h2>
      <p>Queremos que seas parte de este momento tal especial !</p>
    </div>
    <div class="timer">
      <Temporizer />

      <Timer />
    </div>

    <div class="cards">
      <div class="flex justify-center items-center">
        <img src="/anillo2.png" alt="anillo" width="32px" height="32px" />
      </div>

      <h2 class="text-4xl">Ceremónia</h2>
      <CardHorario
        oclock="17:00"
        place="Iglesia San Martin de Porres"
        street="Eduardo Morley y George Davis"
        href="https://goo.gl/maps/p242XZfmz7vhqQeh8"
      />

      <h2 class="text-4xl">Celebración</h2>
      <CardHorario
        oclock="17:00"
        place="Iglesia San Martin de Porres"
        street="Eduardo Morley y George Davis"
        href="https://goo.gl/maps/p242XZfmz7vhqQeh8"
      />
    </div>

    <div class="dressCode py-10">
      <div class="flex justify-center items-center">
        <img src="/vestido.png" alt="" srcset="" width="32" height="32" />
        <img src="/terno.png" alt="" srcset="" width="32" height="32" />
      </div>
      <h2 class="text-4xl">Código de Vestimenta</h2>
      <p>Formal - No niños</p>
    </div>

    <div class="gallery">
      <h2 class="text-4xl">Nosotros</h2>
      <Gallery />
    </div>

    <div class="">
      <Form />
    </div>

    <footer class="py-10">
      <h1 class="m-auto text-6xl">Te esperamos</h1>
      <h2 class="text-4xl">Alice & David</h2>
    </footer>
  </div>
</Layout>

<script src="../scripts/animation.js"></script>
