<div class="flex gap-3 columns-2" style="height: 500px ;">
  <div class="card text-center">
    <p class="font-bold p-2">Parroquia San Martin de Porres</p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum
      distinctio magni ullam minus dicta voluptate facilis eos maxime
    </p>

    <a href="https://www.youtube.com/results?search_query=modificar+scroll+">
      Maps</a
    >
  </div>

  <div class="w-1 bg-black h-1/2" id="line_Vertical"></div>

  <div class="card text-center">
    <p class="font-bold p-2">Parroquia San Martin de Porres</p>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum
      distinctio magni ullam minus dicta voluptate facilis eos maxime
    </p>
    <a
      class=""
      href="https://www.youtube.com/results?search_query=modificar+scroll+">
      Maps</a
    >
  </div>
</div>

<style>
  .card {
    width: 220px;
    height: 50%;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
  }
</style>
