---
import CardHorario from "./CardHorario.astro";
---

<div class="flex gap-3 justify-center pb-2">
  <CardHorario Act="Ceremonía" OClock="5 pm " />
  <div class="w-1 bg-black h-{250px}" id="line_Vertical"></div>

  <div class="card text-center">
    <p class="font-bold p-2">Parroquia San Martin de Porres</p>
    <p class="pb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum
      distinctio magni ullam minus dicta voluptate facilis eos maxime
    </p>
    <a class="btn" target="_blank" href="https://goo.gl/maps/p242XZfmz7vhqQeh8">
      Maps</a
    >
  </div>
</div>

<div class="flex gap-3 justify-center pb-2">
  <CardHorario Act="Recepción " OClock="7pm " />

  <div class="w-1 bg-black h-{250px}" id="line_Vertical"></div>

  <div class="card text-center">
    <p class="font-bold p-2">Parroquia San Martin de Porres</p>
    <p class="pb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum
      distinctio magni ullam minus dicta voluptate facilis eos maxime
    </p>

    <a class="btn" target="_blank" href="https://goo.gl/maps/p242XZfmz7vhqQeh8">
      Maps</a
    >
  </div>
</div>

<style>
  .card {
    width: 220px;
    height: 250px;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
  }

  .btn {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #000;
    color: white;
  }

  .btn:hover {
    background-color: rgb(17, 4, 134);
    color: white;
  }
</style>
