---
const {oclock , place , street , href}= Astro.props
---

<div class="flex items-center justify-center">
 
  <h2 class="m-auto w-1/2">
    {oclock}
  </h2>
  <div class="w-[1px] bg-black h-[60px]"></div>

<p class=" pl-3 w-1/2">{place}</p>
 
</div>

<div class="py-6">
  <p class="py-5">{street}</p>
  <a class="btn" target="_blank" href={href}>
    Ver ubicación</a>
</div>


<style>
  .card {
    width: 220px;
    height: 250px;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
  }

  .btn {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    background-color:#0A2472;
    color: white;
  }

 
</style>
