<form class="form">
  <p class="text-2xl text-white p-5">Confirma tu Asistencia</p>
  <div class="field">
    <input placeholder="Nombre" class="input-field" type="text" />
  </div>
  <div class="field">
    <input placeholder="Teléfono" class="input-field" type="text" />
  </div>

  <select class="field">
    <option value="0">Confirmación</option>
    <option value="1">Asistiré</option>
    <option value="2">No podré asistir</option>
  </select>

  <textarea class="field resize-none" placeholder="Mensaje"></textarea>

  <button class="button3">Enviar</button>
</form>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }

  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }

  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
  }

  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }

  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .button1:hover {
    background-color: black;
    color: white;
  }

  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .button2:hover {
    background-color: black;
    color: white;
  }

  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .button3:hover {
    background-color: rgb(17, 4, 134);
    color: white;
  }
</style>
