---
import Photo from "./Photo.astro";

const photos = [
  { title: "/anillos.jpg", img: "/anillos.jpg" },
  { title: "/beso.jpg", img: "/beso.jpg" },
  { title: "/flores.jpg", img: "/flores.jpg" },
];
---

<div class="gap-2 columns-3 p-4 bg-black">
  {
    photos.map(({ title, img }) => {
      return <Photo title={title} src={img} />;
    })
  }
</div>
