<div class="card">
  <h2 class="text-2xl text-center font-bold pb-5">Nuestra canción favorita</h2>

  <div class="flex justify-center items-center">
    <audio controls>
      <source src="./El_Bolero.mp3" />
    </audio>
  </div>
</div>

<style>
  .card {
    width: 50%;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
  }
</style>
