<div class="card flex justify-center items-center">
  <h2 class="text-2xl text-center font-bold p-2">Nuestra canción favorita</h2>

  <audio controls>
    <source src="./El_Bolero.mp3" />
  </audio>
</div>

<style>
  .card {
    width: 70%;
    height: 1/2%;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
  }
</style>
